/* Universal Styles */



html {
  font-size: 16px;
}

body {
  background-color: white;
  font-family: 'Helvetica', sans-serif;
}

/*.main-content {
  /*position:  relative; */
  /* top: 5.3125rem; /* To offset for fixed header.  }*/


/*
header .content {
  overflow: hidden;
}
*/



.center {
  text-align: center;
}

.image-container {
  overflow:hidden;
}



.main-content {
  width:100%;
  /* margin:0 auto; */
}


@media only screen and (max-width:580px)  {
  .main-content{
    width:100%;
  }
}





/* Header */
header {
  z-index: 10;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height:4rem;
  padding-left:  1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;             /*   !!  must have a background colour set !!  */

  font-size: .75rem;
  font-weight: normal;
  /*background-color: red; */
}



#desktop {
  z-index: 10;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;             /*   !!  must have a background colour set !!  */
}


#desktop #logo {
z-index: 10;
display: flex;
align-items: center;

font-family: 'Courgette', cursive;
font-size: 1rem;


/* background-color: yellow; */
}


#desktop ul {
  padding-right: 3rem;
  /*background-color: gold; */
}


#desktop ul li  {
  display: inline;
  margin-left: 1rem;
  /*background-color: pink;*/
}


#mobile {
  z-index: 10;
  width:100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;            /*   !!  must have a background colour set !!  */
}


header #mobile {
  display: none;
}



@media only screen and (max-width:580px)  {
header #desktop {display:none; }
header #mobile {display: flex;}
body header {
  z-index: 10;
  padding: 0rem  0rem;
  margin: 0 auto;
  /*background-color: yellow;*/
}
}  /*  end: media query  */
/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */




#first-mobile-image .content {
  position:  relative;
  top: 4rem; /* To offset for fixed header. */
  width:100%;
  height:11.25rem;  /*  180px;  */
  overflow: hidden;
}






#first-mobile-image img {
  width:100%;
  height: auto;
  display: block;
}






#first-mobile-image  {
  display: none;
}



@media only screen and (max-width:580px)  {
  #first-mobile-image  {
    display: block;
    }
}  /*  end: media query  */
/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */










/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */
/* cta - Call to action */
#cta  {
  position:  relative;
  top: 4rem; /* To offset for fixed header. */
  background-color: silver;
}



#cta .content  {
  padding: 2rem 1.5rem;  /*32px 24px;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


#cta .image-container {
  width:60%;
  height: auto;
}


#cta img {
  width:100%;
  height: auto;
}




#cta .information {
  width:30%;
  height:auto;
  margin-left: 2.5rem;  /*40px;*/
  /*background-color: yellow; */
}

#cta h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
}

#cta h2  {
  margin-top: 2rem;
  font-size: 1.3rem;
  /*font-weight: bold;*/
  line-height: 1.2;
}



#cta button {
  width:100%;
  padding:.5rem 0 .5rem 0;
  margin-top: 1.5rem;  /*  24px;  */
  background-color: black;
  color:white;
  border: 0;
  font-size: 1.4rem;
}


@media only screen and (max-width:580px)  {
#cta {
  width:100%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /*background-color: pink;*/
}

#cta .content  {
  margin: 0 0;    /*  32px 16px;  */
  padding: 2rem 1rem 2rem 1rem;       /*32px 16px 32px 16px;*/
}

#cta .image-container {
  display: none;
  /*width:100%;
  height:180px; */
}

#cta .information {
  width:100%;
  height:auto;
  margin-left:0;
  /*background-color: orange;*/
}
}  /*  end: media query  */
/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */




#on_campus .mobile_img{
  display: none;
}

#on_campus {
  position:  relative;
  top: 4rem; /* To offset for fixed header. */
  height:auto;

  overflow: auto;
  /*background-color: yellow; */
  color:black;
}


#on_campus .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem  1.5rem;       /*32px 24px; */
}

#on_campus .left {
  width:60%;
  height: auto;
  /*background: pink; */
}

#on_campus .left .image-container {
  width:100%;
  height: auto;
}


#on_campus .right {
  width:100%;
  margin-left:1.5rem;      /*24px;*/
   margin-top: -16px;
  height: auto;
  background: white;
  border-left: 1px solid silver;
}



#on_campus .box {

  min-width:26.4375rem;      /*423px; */

  padding: 1rem 0 1rem 1rem;

  /*padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; */

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  overflow: hidden;
  /*border-bottom: 3px dotted black; */
  /*background-color:   aqua; */
}


#on_campus .right .image-container {
  /*width:35%;
  height:   auto;  */

  height:10.5rem;   /*168px;*/
  width:auto;
}


#on_campus .background_other_color {
  background-color: silver;
}


#on_campus .information  {
  margin-left: 1rem;

  min-width: 60%;      /*width 62%;  */
  height:10.5rem;   /*168px;*/

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


/* general campus  */
#on_campus img {
  width:100%;
  height: 100%;
}


#on_campus h2 {
  margin:2rem 0 1.5rem 0;       /*32px 0 24px 0; */
  font-weight: bold;
  font-size: 1.3rem;
  /*color:green;*/
}


#on_campus	.left .latin  {
  font-style: italic;
  font-size: .95rem;
}

#on_campus	.left .emanuel  {
  font-size: 1.1rem;
}



#on_campus h3 {
  margin-bottom: 0.5rem;  /*8px;*/
  font-weight: bold;
  font-size: 1.2rem;
  /*color:red;*/
}



#on_campus .right p  {
  font-size: 1rem;
  /*color: orange;*/
}



#on_campus a {
  margin-top: 0.5rem;  /*8px;*/
  /*color:red;*/
}



@media only screen and (max-width:580px)  {
#on_campus .mobile_img {
  display: block;
}


#on_campus .desktop_img {
  display: none;
}


#on_campus {
  /*background-color:red;
  color:white;*/
}


#on_campus .background_other_color {
  background-color: white;  /*red;*/
}


#on_campus .content {
  padding: 1rem 1rem 2rem 1rem;    /* 16px 16px 32px  16px;  */
}


#on_campus .left {
    display: none;
}



#on_campus .right {
  width:100%;
  margin-left:0;
  border-left:0;
}


#on_campus .box {
    width: 100%;
    min-width: 0;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /*border-bottom: 1px solid black; */
    /*background-color:   lime;*/
}



#on_campus .right .image-container {
  width:100%;
  height:auto;
  /*border: 3px solid black;*/
}

#on_campus img {
  width:100%;
  height: auto;
  display: block;
  /*border: 3px solid green;*/
}




#on_campus .information  {
  margin-top: 1.2rem;
  margin-left: 0;
  width:100%;
  height:auto;
  /*background-color: navy;*/
  }
}  /*  end: media query  */
/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */









#courses {
  position:  relative;
  top: 4rem; /* To offset for fixed header. */
  padding-top: 2rem;    /*32px; */
  width:100%;
  height:auto;
  /*background-color: orange;*/
  color:black;
}



#courses .content .list {
  padding: 2rem  0  2rem  0;   /*32px 0 32px 0;*/

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: silver;
}


#courses .container  {
  width:25%;
  min-height:18.125rem;   /*290px;*/
  margin: 0 1rem 1rem 1rem;     /*0 16px  16px 16px;*/
  background-color: white;
}


#courses .image-container  {
  width:100%;
  height:auto;
  /* border: 2px red solid; */
}

#courses img  {
  width:100%;
  height:auto;
  overflow: hidden;
  /* border: 2px dashed white; */
}


#courses .information {
  padding: 0 1rem 1rem 1rem;
  /*padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;*/
  /* border: 4px yellow solid; */
}


#courses h2 {
  background-color: silver;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 2rem;
  color: black;
}


#courses h3  {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  overflow: hidden;
  /* border: 2px solid navy; */
}

#courses h4  {
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  /* border: 2px solid navy; */
}

#courses p  {
  font-size:1rem;
  /*color:red;*/
}




/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx   start here  xxxxxx  */
@media only screen and (max-width:580px)  {

/*  #courses {
  position:  relative;
  top: 4rem; /* To offset for fixed header.
  padding-top: 32px;
  width:100%;
  height:auto;
  background-color: orange;
  color:black;
}  */



#courses .content .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;  /*red;*/
}

#courses .container  {
  width:100%;
  min-height:auto;
  margin:0 1rem 0.5rem 1rem;   /*  0px 16px 8px 16px;  */
  /* padding: 0 16px  16px 16px; */
  background-color: white;
}

#courses .box {
  width:100%;
}

#courses .information {
  padding:0;
  background-color: silver;
}

#courses h3  {
  width:auto;
  padding:1rem 0 1rem 1rem;     /* 16px 0 16px 16px;  */
  /*background-color: silver;*/
}  /* border: 2px solid navy; */


#courses h2 {
  display: block;
  background-color: white;
  padding-top: 2rem;
  margin-top:-3rem;
  /*color: red;*/
}





#courses h4  {
  display: none;
}

#courses p  {
  display: none;
  /*color:red;*/
}



#courses .image-container  {
  display: none;
 }
}  /*  end: media query  */
/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */








/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */

#thesis {
  position:  relative;
  top: 4rem; /* To offset for fixed header. */
  height: auto;
  /*background-color: aqua;*/
  color:black;
}


#thesis h1 {
  padding-top: 2rem;
  /*background-color: gold;*/
}



#thesis .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem  1.5rem;   /*32px 24px;*/
}

#thesis .video_container {
  width:60%;
  height: auto;
  /*background-color: yellow;*/
}

#thesis video {
  width:100%;
  height:auto;
}

.video_container h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#thesis .right {
  width:100%;
  height: auto;
  margin-left:1.5rem;
  /*margin-top: -1rem; */     /*-16px;*/
  flex-shrink: 3;
  background: white;
  border-left: 1px solid silver;
}


#thesis .information  {
  margin-left: 1rem;

  width:62%;
  height:10.5rem;     /* 168px;  */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /*background-color: lime;*/
}

#thesis .background_other_color {
  background-color: silver;
}


#thesis .box {

  min-width:9.375rem;   /*150px; */

  /*flex-shrink: 10;*/

  padding: 1rem 0 1rem 1rem;
  /*padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;*/

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  overflow: hidden;
  /*border-bottom: 3px dotted black;*/
  /*background-color:   aqua;*/
}


#thesis  .image-container {
  /*width:35%;
  height:   auto;  */
  height:10.5rem;  /*168px;*/
  width:auto;
}

#thesis p {
  margin-top: 0.5rem;
  color:black;
}


/* general campus  */
#thesis img {
  width:100%;
  height: 100%;
}


#thesis h3 {
  margin-bottom: 0.5rem;
  color:black;
}




@media only screen and (max-width:580px)  {

#thesis .content {
  padding: 0 0;
}

#thesis .right, p, h2 {
  display: none;
}

#thesis .content {
  padding: 2rem  0  0  0;    /*32px 0px 0px 0px;*/
}

#thesis .video_container {
  width:100%;
}
}  /*  end: media query  */
/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */



















/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */
footer {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
  height:100px;
  background-color: white;
  color:black;
  border-top: 1px solid silver;
  padding-top:1rem;
  }



footer .content {
  width:auto;
  padding-left: 1.5rem;  /*24px;*/
  padding-right: 1.5rem;


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /*background-color:green;*/
}


footer .content h3 {
  /*background-color: navy;*/
}

footer li {
  display: inline;
  margin-left: 1.25rem;  /*20px;*/
  /*background-color: gold;*/
}





@media only screen and (max-width:580px)  {

footer {
  padding-top: 1.5rem;  /*24px;*/
  height:auto;
  }

footer ul {
  display: none;
  }

footer .content h3 {
  padding:1rem 0 1rem 0;    /*16px 0 16px 0px;*/
  }

footer .content {
  padding-left: 1rem;
}

}  /*  end: media query  */
